/* Gilroy Extra Bold */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Gilroy Light */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

/* OpenSans Normal */
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

/* OpenSans Light */
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  width: 100%;
  min-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;

}


/* Шапка */
.site-header {
  display: flex;
  flex-direction: column;
  margin: 40px auto auto auto;
  width: 1160px;
  padding: 0px 60px;
  background-color: rgba(240, 197, 46, 0.5);
  height: 186px;
}

.site-header--index {
  height: 300px;
}

.site-header__logo {
  height: 0;
  margin-top: -17px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px 25px 0px;
  height: 50px;
  line-height: 50px;
}

.site-header__search {
  flex: 4.3;
}

.site-header__user {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.site-header__compare {
  flex: 1;
  text-align: right;
}

.site-header__cart {
  flex: 1;
  text-align: right;
}

.site-header__main-menu {}

.main-menu__catalog {}

.logo {}

.logo__link {
  width: 163px;
  height: 35px;
}

.logo__img {}

.search {}

.search__form {
  width: 440px;
  height: 50px;
}

.search__input {}

.search__button {}

.user {

  list-style: none;
}

.user--auth .user__item--login {
  display: none;
}

.user--not-auth .user__item--account {
  display: none;
}

.user__item {}

.user__item--login {}

.user__item--account {}

.user__link {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-decoration: none;
}

.user__link--login {}

.user__link--enter {}

.user__link--logout {
  opacity: 0.5;
  padding-left: 20px;
}

.compare {}

.compare__link {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-decoration: none;
}

.cart {}

.cart__link {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-decoration: none;
}

.main-menu {}

.main-menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  line-height: 24px;
  list-style: none;
}

.main-menu__item {
  flex: 1;
}

.main-menu__item:last-child {
  margin-right: -3.6px;
  text-align: right;
}

.main-menu__item--dropdown {
  flex: 3.2;
  position: relative;
}

.main-menu__item--dropdown:hover .catalog {
  width: 1160px;
  height: auto;
  margin: 0 0 0 -60px;
  padding: 29px 60px;
  overflow: visible;
  background-color: #f7e296;
}

.main-menu__link {
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;

  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
}

.catalog {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 108px;
  background-color: #f7e296;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  line-height: 36px;
  padding-right: 58px;
  min-width: 143px;
  max-width: 300px;
}

.catalog__item:nth-child(5) {
  height: 50%;
}

.catalog__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #000000;
  text-decoration: none;
}


/* Конец шапки */

/* Контент */

/** Главная */

.site-content__title {}

.index-slider {}

.index-slider__title {}

.index-slider__container {}

.index-slider__control-label {}

.index-slider__control-radio {}

.index-slider__control-radio--checked {}

.index-slider__list {}

.index-slider-item {
  display: none;
}

#slider-item-1-control:checked ~ .index-slider__list #slider-item-1 {
  display: block;
}

#slider-item-2-control:checked ~ .index-slider__list #slider-item-2 {
  display: block;
}

#slider-item-3-control:checked ~ .index-slider__list #slider-item-3 {
  display: block;
}

.index-slider-item__title {}

.index-slider-item__descr {}

.index-slider-item__img {}

.index-slider-item-prop {}

.index-slider-item-prop__title {}

.index-slider-item-prop__descr {}

.index-slider-item__link {}

.index-sub__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-brands__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-services-item {
  display: none;
}

#services-item-1-control:checked ~ .index-services__list #services-item-1 {
  display: block;
}

#services-item-2-control:checked ~ .index-services__list #services-item-2 {
  display: block;
}

#services-item-3-control:checked ~ .index-services__list #services-item-3 {
  display: block;
}


/** Каталог */

.site-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1160px;
  padding: 0px 60px;
}

.site-content__index-slider {}

.site-content__index-sub {}

.site-content__index-services {}

.site-content__index-brands {}

.site-content__index-about {}

.site-content__index-contacts {}

.site-content__breadcrumbs {}

.site-content__row-container {
  display: flex;
  flex-direction: row;
  order: 3;
}

.site-content__col-container {
  display: flex;
  flex-direction: column;
}

.site-content__products-filter {}

.site-content__products-sort {
  height: 70px;
}

.site-content__products {}

.site-content__products-pagination {}


.site-content__title {
  order: 1;
  margin: 0;
  padding: 40px 0 0 0;
  height: 48px;
  color: #000000;
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.17px;
}

/* breadcrumbs */

.breadcrumbs {
  order: 2;
  padding: 25px 0 45px 0;
}

.breadcrumbs__title {}

.breadcrumbs__list {
  padding: 0;
  margin: 0;
  display: flex;
  line-height: 24px;
  height: 24px;
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.14px;
  list-style: none;
}

.breadcrumbs__item {
  padding-right: 20px;
}

.breadcrumbs__item--current {}

.breadcrumbs__link {
  text-decoration: none;
}

/* products-filter */

.products-filter {}

.products-filter__title {
  background: #dbdbdb;
  margin: 0;
  height: 70px;
  line-height: 70px;
  color: #000000;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;

  letter-spacing: 0.91px;
}

.products-filter__form {
  background: #eeeeee;
  height: 100%;
}

.products-filter__fieldset {}

.products-filter__fieldset-legend {}

.products-filter__checkbox {}

products-filter__checkbox--checked {}

.products-filter__label {}

.products-filter__radio {}

.products-filter__radio--checked {}

.products-filter__button {}

.products-filter__button--submit {}

/* products-sort */

.products-sort {
  background: #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;

}

.products-sort__title {
  background: #ebebeb;
  margin: 0;
  color: #000000;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.products-sort__types {}

.products-sort__button {}

.products-sort__button--sort-price {}

.products-sort__button--sort-type {}

.products-sort__button--sort-popularity {}

.products-sort__button--sort-direct {}

.products-sort__button--sort-reverse {}

.products-sort__button span {}

/* products */

.products {}

.products__title {}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.products__item {
  display: flex;
  flex-direction: column;
}

.products-item__title {
  order: 2;
}

.products-item__link {}

.products-item__img {
  order: 1;
}

.products-item__price {
  order: 3;
}

.products-item__button {}

.products-item__button--buy {
  order: 4;
}

.products-item__button--compare {
  order: 5;
}

/* products-pagination */

.products-pagination {}

.products-pagination__title {}

.products-pagination__list {}

.products-pagination__item {}

.products-pagination__item--back {}

.products-pagination__item--current {}

.products-pagination__item--forward {}

.products-pagination__link {}

/* Конец контента */

/* Подвал */

.site-footer {
  width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(70, 70, 70);
  box-shadow: 0px 500px 0 500px rgb(70, 70, 70);
}


.site-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  line-height: 35px;
}

.site-footer__container:nth-child(1) {
  justify-content: flex-end;
  padding: 66px 0 37px 0;

}

.site-footer__container:nth-child(2) {
  height: 24px;
  line-height: 24px;
}

.site-footer__container:nth-child(3) {
  padding: 66px 0;
}

.site-footer__container:nth-child(3)::before {
  content: "";
  background-color: #ffc600;
  height: 7px;
  width: 80px;

}

.logo--footer {
  flex: 1;
}





.user--footer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-left: 65px;
}

.user--footer.user--auth user__item--login {
  display: none;
}

.user--footer.user--not-auth .user__item--account {
  display: none;
}

.user--footer .user__link {
  opacity: 0.7;
  color: #ffffff;
}


.footer-user__link--logout {
  opacity: 0.3;
}


.compare--footer {
  padding-left: 65px;
}

.compare--footer .compare__link {
  opacity: 0.7;
  color: #ffffff;
}

.cart--footer {
  padding-left: 65px;
}

.cart--footer .cart__link {
  opacity: 0.7;
  color: #ffffff;
}

.address {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
}

.phone {
  order: 3;
}

.phone__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.info-menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.info-menu__item {
  padding-right: 38px;
}

.info-menu__item:last-child {
  padding-right: 0;
  margin-right: -3.6px;
}

.info-menu__link {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
}

.socials {
  display: flex;
  margin: 0;
  padding: 0;
  height: 32px;
  list-style: none;
}

.socials__item {
  padding-right: 23px;
}

.socials__item:last-child {
  padding-right: 0;
}

.socials__link {
  font-size: 0;
}

.socials__img {
  height: 32px;
  width: 32px;
  opacity: 0.3;
}

.studio-link {
  height: 35px;
}

.studio-link__link {
  font-size: 0;
}

.studio-link__img {
  height: 35px;
  width: 27px;
}

/* конец футера*/
/* модалки */
.site-modal {}

.site-modal__title {}

.site-modal__button {}

.site-modal__button--submit {}

.site-modal__button--close {}

.site-modal--feedback {}

.site-modal__form {}

.site-modal__label {}

.site-modal__input {}

.site-modal__textarea {}

.site-modal--map {}

.site-modal__map {}

.button {}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
