/* Gilroy Extra Bold */
@font-face {
    font-family: 'GilroyExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
}

/* Gilroy Light */
@font-face {
    font-family: 'GilroyLight';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
}

/* OpenSans Normal */
@font-face {
    font-family: 'OpenSansNormal';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
}

/* OpenSans Light */
@font-face {
    font-family: 'OpenSansLight';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
}

body {
    font-family: 'OpenSansNormal', 'Arial', sans-serif;
    width: 100%;
    min-width: 1200px;
    margin: auto;

}

ul {
    list-style: none;
}

.wrap {
    width: 1160px;
    margin: auto;

}


.header {}

.header .wrap {
    margin-top: 40px;
    height: 299px;
    background-color: rgba(240, 197, 46, 0.5);

}

.header .top {
    padding: 35px 60px 17px 60px;
    height: 50px;
    line-height: 50px;

}

.header .top a {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.15px;
    text-decoration: none;
}

.header .logo {
    height: 0;
}

.header .logo a {}

.header .logo a img {
    width: 163px;
    height: 35px;
    margin-top: -21px;
    margin-left: 60px;
}

.header .search {
    float: left;
    width: 50%;
}

.header .search form {
    float: left;
    width: 440px;
    height: 50px;
}

.header .user {
    float: left;
}

.header .user .login {}

.header .user .logout {
    display: none;
}

.header .compare {
    float: right;

}

.header .cart {
    float: right;
    padding-left: 65px;

}

.header .nav {
    padding: 15px 60px 17px 60px;
}

.header .nav-menu {
    list-style: none;
    padding: 0;
    height: 24px;
    line-height: 24px;
    margin: 0;
}

.header .nav-menu > li {

    float: left;
    padding-right: 38px;
}

.header .nav-menu > li:first-child {
    width: 50%;
    padding-right: 0;

}

.header .nav-menu > li:last-child {
    float: right;
    padding-right: 0;
    margin-right: -3.6px;

}

.header .nav-menu > li > a {
    color: #000000;
    font-family: 'GilroyExtraBold';
    font-size: 18px;
    font-weight: 800;

    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
}


.header .menu-dropdown {
    display: grid;
    grid-template-rows: 36px 36px 36px;
    width: 200%;
    padding: 31px 0;
    height: 108px;
    background-color: #f7e296;
    list-style: none;
    margin: 0 60px 0 -60px;
    padding: 31px 60px;
}

.header .menu-dropdown > li {
    line-height: 36px;

}

.header .menu-dropdown > li:nth-child(1) {
    grid-row: 1 / 5;
    grid-column: 1 / 5;
}

.header .menu-dropdown > li:nth-child(2) {
    grid-row: 2 / 5;
    grid-column: 1 / 5;
}

.header .menu-dropdown > li:nth-child(3) {
    grid-row: 3 / 5;
    grid-column: 1 / 5;
}

.header .menu-dropdown > li:nth-child(4) {
    grid-row: 1 / 5;
    grid-column: 2 / 5;
}

.header .menu-dropdown > li:nth-child(5) {
    grid-row: 2 / 5;
    grid-column: 2 / 5;
}

.header .menu-dropdown > li:nth-child(6) {
    grid-row: 1 / 5;
    grid-column: 3 / 5;
}

.header .menu-dropdown > li > a {
    font-family: 'OpenSansLight', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #000000;
    text-decoration: none;
}




.main {}

.footer {

    height: 323px;
    background-color: #464646;
}

.footer .row-1 {
    padding: 66px 0 37px 0;
    height: 35px;
    line-height: 35px;
}

.footer .row-1 a {


    color: #ffffff;
    font-family: 'OpenSansLight', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.15px;
    text-decoration: none;
}

.footer .logo {
    height: 35px;
    float: left;

}

.footer .logo a img {
    width: 163px;
    height: 35px;
}

.footer .user .login {
    display: none;
}

.footer .user .logout .logout-btn {
    opacity: 0.3;
    padding-left: 20px
}

.footer .user,
.logout,
.login,
.compare,
.cart {
    float: right;
}

.footer .user,
.cart,
.compare {
    padding-left: 65px;

}

.footer .user a,
.cart a,
.compare a {
    opacity: 0.7;
}

.footer .row-2 {
    height: 24px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;

}

.footer .address {
    color: #ffffff;
    font-family: 'OpenSansLight', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.footer .menu-info {
    display: flex;
    padding: 0;
    margin: 0;
}

.footer .menu-info li {
    padding-right: 38px;
}

.footer .menu-info li:last-child {
    padding-right: 0;
    margin-right: -3.6px;
}

.footer .menu-info li > a {
    color: #ffffff;
    font-family: 'GilroyExtraBold';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
}

.footer .phone {
    color: #ffffff;
    font-family: 'OpenSansLight', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.footer .row-3 {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 0;
}

.footer .row-3 .empty-block {
    background-color: #ffc600;
    height: 7px;
    width: 80px;


}

.footer .row-3 .socials {
    display: flex;
}

.footer .row-3 li {
    padding-right: 23px;
}

.footer .row-3 li:last-child {
    padding-right: 0;
}

.footer .row-3 li a {}

.footer .row-3 li a img {
    height: 32px;
    width: 32px;

}

.row-3 .studio-link {}

.row-3 .studio-link a {}

.row-3 .studio-link a img {
    height: 35px;
    width: 27px;
}
